# Accuweather api keys
WETCH_K1="<api key 1>"
WETCH_K2="<api key 2>"
WETCH_K3="<api key 3>"
WETCH_K4="<api key 4>"

# Accuweather city code. Simply google "accuweather <city> city code"
# to find desired code
WETCH_CC="337263"

# Slack token
WETCH_TK='<slack token>'

# Slack channels and conversations. Just go to your channels and
# conversations online and check the url.
WETCH_CH=('C2GNFHN07' 'C2OIUHN02')
WETCH_CO=('D9Y7N52NR' 'DAR7A2U4U' 'D9XF7CCQ5')
