# Accuweather api keys
WETCH_K1="<API key 1>"
WETCH_K2="<API key 2>"
WETCH_K3="<API key 3>"
WETCH_K4="<API key 4>"

# Accuweather city code
WETCH_CC="314778"

# Slack token
WETCH_TK='<Slack token>'

# Slack channels and conversations
WETCH_CH=('<channel code>' '<channel code>')
WETCH_CO=('<conversation code>' '<conversation code>')